/* static/css/basicStyle.css */

/* footer set */
footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.footer {
    background-color: #333;
    font-family: 'Playfair Display', serif;
    color: rgb(201, 201, 201);
}

.footer-links a {
    color: #ccc;
    text-decoration: none;
    font-weight: 500;
}

.footer-links a:hover {
    color: #fff;
    text-decoration: underline;
}

/* basic set */


/* navbar set*/
.navbar-brand,
.navbar a {
    font-family: 'Playfair Display', serif;
}

.navbar {
    background-color: #333;
    padding: 10px 20px;
}
.navbar-brand {
    font-size: 24px;
    color: #fff;
}
.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}
.navbar a:hover:not(:has(img)) {
    background-color: #555;
    border-radius: 5px;
}

/* navbar set*/

/*hero section*/
.hero-section {
    margin-top: 80px;
    background-image: url('../images/heroimage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-attachment: fixed;
}

.hero-section p {
    color: white;
}


.bg-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    h1, p {
        text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    }
}

